:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-slate: #434455;
  --color-cloud: #f4f4fd;
  --color-cornflower: #e7e9fc;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
  color: var(--color-iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-part {
  color: var(--color-navy-blue);
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  display: block;
  padding: 24px 0;
  color: var(--color-navy-blue);
  font-weight: 500;
  line-height: 1.5;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--color-ocean);
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  display: block;
  padding: 24px 0;
  color: var(--color-slate);
  line-height: 1.5;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--color-ocean);
}

.hero {
  padding: 188px 0;
  background-color: var(--color-navy-blue);
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  color: var(--color-white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  background-color: var(--color-iris);
  border-radius: 4px;
  color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}

.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  margin-bottom: 8px;
  color: var(--color-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.features-text {
  line-height: 1.5;
}

.team {
  padding: 120px 0;
  background-color: var(--color-cloud);
}

.section-title {
  margin-bottom: 72px;
  color: var(--color-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
}

.team-card-content {
  padding: 32px 0;
}

.team-name {
  margin-bottom: 8px;
  color: var(--color-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.team-position {
  line-height: 1.5;
  text-align: center;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  margin-bottom: 8px;
  color: var(--color-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.portfolio-text {
  line-height: 1.5;
}

.footer {
  padding: 100px 0;
  background-color: var(--color-navy-blue);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--color-iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-part {
  color: var(--color-cloud);
}

.footer-text {
  max-width: 264px;
  color: var(--color-cloud);
  line-height: 1.5;
}
